@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

:root{
    --col-bg:#6155a6;
    --col-fore: #a685e2;
    --col-bg-mid: #ffabe1;
    --col-bg-ward: #ffe6e6;
    --sans:'Orbitron', sans-serif;
  }

  h1, h2{
    font-family: var(--sans);
    font-weight: 600;
    line-height: 2;
    margin: 0.5em 0;
    padding:1em;
    color: var(--col-bg-ward);
  }

  


body{
    background-color: var(--col-bg);
}


.svg{
    max-width: 25%;
    margin: 15px 5px;
}

.ufo{
    width:55%;
    margin: auto auto;
    padding:20px;
}

.grid-container {
    border-radius: 1em;
    display: grid;
    background-color: var(--col-fore);
    grid-template-columns: auto auto auto;
    max-width: 40%;
    margin: 10px auto;
    padding:20px;
    gap: 10px 10px;
    grid-template-areas:
      "tn0 tn1 tn2"
      "tn3 tn4 tn5";
  }
  
  .tn0 { 
      grid-area: tn0;
      display: block;
      block-size: 50px;
      border-radius: 1em;
      width: 50px;
      background-color: var(--col-bg-mid);
      margin: 10px auto;
       
    }

  .tn1 { 
      grid-area: tn1;
      display: block;
      block-size: 50px;
      border-radius: 1em;
      width: 50px; 
      background-color: var(--col-bg-mid);
      margin: 10px auto;
    }

  .tn2 { 
      grid-area: tn2;
      display: block;
      block-size: 50px;
      border-radius: 1em;
      width: 50px;
      background-color: var(--col-bg-mid); 
      margin: 10px auto;
    }

  .tn3 { 
      grid-area: tn3;
      display: block;
      block-size: 50px;
      border-radius: 1em;
      width: 50px;
      background-color: var(--col-bg-mid);
      margin: 10px auto;
    }

  .tn4 { 
      grid-area: tn4;
      display: block;
      block-size: 50px;
      border-radius: 1em;
      width: 50px;
      background-color: var(--col-bg-mid);
      margin: 10px auto; 
    }

  .tn5 { 
      grid-area: tn5;
      display: block;
      block-size: 50px;
      border-radius: 1em;
      width: 50px;
      background-color: var(--col-bg-mid);
      margin: 10px auto;
    }